In [1]:
# import relevant packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

import miceforest as mf

In [2]:
file_path = '/Users/paranoidandroid/Desktop/Python/subsalt/crime.csv'

crime_df = pd.read_csv(file_path, low_memory = False)
crime_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/paranoidandroid/Desktop/Python/subsalt/crime.csv'

In [6]:
crime_df.dtypes

date                    object
primary_type            object
location_description    object
district                object
ward                    object
domestic                object
arrest                  object
dtype: object

In [7]:
crime_df.describe()

,date,primary_type,location_description,district,ward,domestic,arrest
count,1000000,1000000,999947,999970,999990,1000000,1000000
unique,409892,31,127,24,51,3,3
top,2008-01-01 12:01:00 UTC,THEFT,STREET,8.0,28.0,False,False
freq,178,195422,268317,71183,45617,884476,706651

In [8]:
crime_df.isnull().sum(axis=0)

date                     0
primary_type             0
location_description    53
district                30
ward                    10
domestic                 0
arrest                   0
dtype: int64

In [9]:
crime_df.isin(['?']).sum(axis=0)

date                    2
primary_type            2
location_description    2
district                2
ward                    2
domestic                2
arrest                  2
dtype: int64

In [10]:
crime_df_new = crime_df.replace('?', np.NaN)

In [11]:
crime_df_new.isin(['?']).sum(axis=0)

date                    0
primary_type            0
location_description    0
district                0
ward                    0
domestic                0
arrest                  0
dtype: int64

In [34]:
# compute percent of missing values by column

percent_missing = pd.DataFrame((crime_df_new.isnull().sum() / len(crime_df))*100, columns=['pct_missing'])
percent_missing

                      pct_missing
date                       0.0002
primary_type               0.0002
location_description       0.0055
district                   0.0032
ward                       0.0012
domestic                   0.0002
arrest                     0.0002

In [39]:
print(crime_df_new.nunique(dropna=True))

date                    409891
primary_type                30
location_description       126
district                    23
ward                        50
domestic                     2
arrest                       2
dtype: int64

In [ ]:
crime_df_new['date'] = pd.to_datetime(crime_df_new['date'])

In [44]:
# Split date column into year, month, day, weekday and hour

crime_df_new['year'] = crime_df_new['date'].dt.year
crime_df_new['month'] = crime_df_new['date'].dt.month
crime_df_new['day'] = crime_df_new['date'].dt.day
crime_df_new['weekday'] = crime_df_new['date'].dt.weekday
crime_df_new['hour'] = crime_df_new['date'].dt.hour

In [48]:

crime_df_new.drop('date', axis=1)

,primary_type,location_description,district,ward,domestic,arrest,year,month,day,weekday,hour
0,BATTERY,STREET,2.0,3.0,False,False,2005.0,1.0,1.0,5.0,1.0
1,WEAPONS VIOLATION,RESIDENCE,5.0,NaN,False,False,2005.0,1.0,1.0,5.0,1.0
2,CRIMINAL DAMAGE,NaN,2.0,3.0,False,False,2005.0,1.0,1.0,5.0,1.0
3,THEFT,DEPARTMENT STORE,1.0,42.0,False,True,2005.0,1.0,1.0,5.0,1.0
4,THEFT,BAR OR TAVERN,18.0,42.0,NaN,False,2005.0,1.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
999995,OTHER OFFENSE,STREET,2.0,3.0,False,False,2008.0,12.0,31.0,2.0,12.0
999996,BATTERY,STREET,1.0,42.0,True,False,2008.0,12.0,31.0,2.0,12.0
999997,MOTOR VEHICLE THEFT,STREET,7.0,17.0,False,False,2008.0,12.0,31.0,2.0,12.0
999998,BURGLARY,RESIDENCE,6.0,17.0,False,False,2008.0,12.0,31.0,2.0,12.0
999999,BATTERY,RESIDENCE,6.0,6.0,True,False,2008.0,12.0,31.0,2.0,12.0

In [49]:
crime_df_new = crime_df_new.astype("category")

In [ ]:
crime_df_new.dtypes

Error: Session cannot generate requests

In [ ]:
# Multiple Imputation of missing values using miceforest

kernel = mf.ImputationKernel(
    crime_df_new,
    datasets=5,
    save_all_iterations=True,
    random_state=21
)

kernel.mice(2)

print(kernel)

Error: Session cannot generate requests

In [ ]:
print(kernel)

Error: Session cannot generate requests

In [ ]:
imputed_df = kernel.complete_data(dataset=0, inplace=True)
print(completed_dataset.isnull().sum(0))

Error: Session cannot generate requests

In [54]:
crime_df.loc[crime_df.arrest.isin(['?'])]

,date,primary_type,location_description,district,ward,domestic,arrest
5,?,ROBBERY,STREET,7.0,16.0,False,?
11,2005-01-01 01:00:00 UTC,OFFENSE INVOLVING CHILDREN,RESIDENCE,?,5.0,True,?

In [38]:
crime_df.ward.value_counts()

28.0    45617
2.0     37697
24.0    36933
27.0    36087
20.0    34535
17.0    33825
42.0    33782
3.0     32791
6.0     32753
21.0    30528
34.0    29877
16.0    29854
15.0    29282
8.0     27528
37.0    27148
7.0     26980
9.0     24871
5.0     23836
29.0    22606
4.0     19316
1.0     19065
18.0    17882
26.0    17595
32.0    16805
10.0    16726
49.0    14487
30.0    14269
14.0    13940
11.0    13912
31.0    13908
23.0    13887
46.0    13560
25.0    13283
35.0    13099
13.0    12849
12.0    12197
43.0    12174
44.0    12032
22.0    11495
40.0    10805
38.0    10565
47.0    10442
50.0    10318
48.0    10210
36.0    10181
41.0    10112
45.0    10002
33.0     9901
39.0     9536
19.0     8905
?           2
Name: ward, dtype: int64

In [42]:
crime_df[crime_df.ward.isnull()]

,date,primary_type,location_description,district,ward,domestic,arrest
31611,2005-02-20 03:15:00 UTC,CRIMINAL DAMAGE,HIGHWAY/EXPRESSWAY,16.0,NaN,False,True
373854,2006-06-20 11:02:00 UTC,NARCOTICS,VEHICLE,11.0,NaN,False,False
578765,2007-04-21 02:00:00 UTC,CRIMINAL DAMAGE,DRIVEWAY - RESIDENTIAL,16.0,NaN,False,False
588541,2007-05-05 01:00:00 UTC,CRIMINAL DAMAGE,RESIDENCE-GARAGE,16.0,NaN,False,False
617499,2007-06-13 10:45:00 UTC,CRIMINAL DAMAGE,STREET,16.0,NaN,False,False
634645,2007-07-06 11:00:00 UTC,STALKING,PARKING LOT/GARAGE(NON.RESID.),31.0,NaN,False,False
728824,2007-11-13 05:48:00 UTC,CRIMINAL TRESPASS,CTA PLATFORM,31.0,NaN,False,True
834782,2008-05-04 01:00:00 UTC,THEFT,CTA GARAGE / OTHER PROPERTY,31.0,NaN,False,False
855975,2008-06-03 03:45:00 UTC,THEFT,STREET,16.0,NaN,False,False
920526,2008-08-30 12:00:00 UTC,CRIMINAL DAMAGE,RESIDENCE,16.0,NaN,False,False

In [44]:
crime_df.groupby('district')['ward'].unique()

district
1.0               [42.0, 2.0, 3.0, 4.0, 25.0, 27.0, 11.0]
10.0    [24.0, 22.0, 12.0, 28.0, 25.0, 26.0, 1.0, 14.0...
11.0             [24.0, 27.0, 28.0, 2.0, 37.0, 26.0, nan]
12.0    [25.0, 2.0, 27.0, 42.0, 26.0, 1.0, 28.0, 32.0,...
14.0       [26.0, 32.0, 35.0, 1.0, 33.0, 24.0, 25.0, 2.0]
15.0                             [28.0, 29.0, 37.0, 24.0]
16.0    [36.0, 41.0, 38.0, 45.0, 30.0, 39.0, nan, 31.0...
17.0    [33.0, 45.0, 38.0, 39.0, 30.0, 50.0, 35.0, 31....
18.0                        [42.0, 43.0, 32.0, 27.0, 2.0]
19.0    [46.0, 44.0, 43.0, 32.0, 47.0, 1.0, 48.0, 4.0,...
2.0          [3.0, 4.0, 20.0, 5.0, 2.0, 11.0, 25.0, 48.0]
20.0           [40.0, 48.0, 47.0, 46.0, 50.0, 16.0, 14.0]
22.0                [21.0, ?, 34.0, 19.0, 9.0, 10.0, 8.0]
24.0                       [40.0, 48.0, 50.0, 49.0, 15.0]
25.0    [36.0, 31.0, 26.0, 29.0, 37.0, 30.0, 35.0, 27....
3.0                [5.0, 20.0, 6.0, 7.0, 8.0, 17.0, 16.0]
31.0    [19.0, 50.0, 7.0, 41.0, 28.0, nan, 15.0, 37.0,...
4.0               [7.0, 8.0, 10.0, 5.0, 18.0, 17.0, 21.0]
5.0                  [?, 9.0, 34.0, 21.0, 6.0, 8.0, 10.0]
6.0          [17.0, 21.0, 6.0, 9.0, 8.0, 18.0, 5.0, 49.0]
7.0                    [16.0, 15.0, 17.0, 20.0, 6.0, 3.0]
8.0     [14.0, 15.0, 13.0, 23.0, 16.0, 18.0, 17.0, 12....
9.0     [12.0, 11.0, 16.0, 25.0, 14.0, 20.0, 3.0, 15.0...
?                                             [40.0, 5.0]
Name: ward, dtype: object

In [73]:
imputed_df = crime_df

In [55]:
crime_df.primary_type.mode()

0    THEFT
dtype: object

In [80]:
imputed_df['district'][imputed_df['district'].isnull()] = imputed_df['district'].mode()

ValueError: Can only compare identically-labeled Series objects

In [79]:
imputed_df['district'][imputed_df['district'].isnull()]

6         NaN
11        NaN
225193    NaN
343716    NaN
514740    NaN
888316    NaN
913335    NaN
915275    NaN
917530    NaN
925634    NaN
927097    NaN
936064    NaN
936744    NaN
949459    NaN
949701    NaN
952612    NaN
954516    NaN
954966    NaN
957055    NaN
957193    NaN
957748    NaN
959000    NaN
959660    NaN
960247    NaN
961058    NaN
961716    NaN
962058    NaN
962124    NaN
963681    NaN
964482    NaN
964880    NaN
965490    NaN
Name: district, dtype: object

In [69]:
for col in imputed_df.columns:
    mode = imputed_df[col].mode()
    print(mode)
    imputed_df[col][imputed_df[col].isin(['?'])] = mode
    imputed_df[col][imputed_df[col].isnull()] = mode

0    2008-01-01 12:01:00 UTC
dtype: object
0    THEFT
dtype: object
0    STREET
dtype: object
0    8.0
dtype: object
0    28.0
dtype: object
0    False
dtype: object
0    False
dtype: object

In [67]:
imputed_df.isin(['?']).sum(axis=0)

date                    0
primary_type            0
location_description    0
district                0
ward                    0
domestic                0
arrest                  0
dtype: int64

In [68]:
imputed_df.isnull().sum(axis=0)

date                     2
primary_type             2
location_description    55
district                32
ward                    12
domestic                 2
arrest                   2
dtype: int64